@import "../Scss/Variables";
@import "../Scss/Mixins";
@import "../Scss/Globals";

body .lc-triangle-top {
  position: relative;
  padding: 0;

  &__shape {
    width: 0;
    height: 0;
    border-style: solid;
    border-color: #000000 transparent transparent transparent;
  }
}
