$colors: (
  main-bg-primary: #ffffff,
  main-color-primary: #000000,
  main-color-secondary: #b4b4b4,
  main-font-light: 300,
  main-font-medium: 500,
  main-font-bold: 700,
);

// .lc {
//   &-hide {
//     &__medium {
//       @media screen and (min-width: 769px) {
//         display: none;
//       }
//     }
//     &__large {
//       @media screen and (min-width: 1024px) {
//         display: none;
//       }
//     }
//   }
// }
