.lc {
  // align items
  &-align__items {
    &--center {
      align-items: center;
    }
  }

  // display
  &-display {
    &__block {
      display: block;
    }
  }

  // margin
  &-margin {
    &__center {
      margin: auto;
    }
  }

  // text align
  &-text {
    &__left {
      text-align: left;
    }

    &__center {
      text-align: center;
    }

    &__right {
      text-align: right;
    }

    &__uppercase {
      text-transform: uppercase;
    }

    &__underline {
      text-decoration: underline;
    }
  }
}
