// vars
@mixin var($property, $varName) {
  #{$property}: map-get($colors, $varName);
  #{$property}: var(--#{$varName});
}

// breakpoint mixin
@mixin mq($width, $type: min) {
  @if map_has_key($breakpoints, $width) {
    $width: map_get($breakpoints, $width);
    @if $type == max {
      $width: $width - 1px;
    }
    @media only screen and (#{$type}-width: $width) {
      @content;
    }
  }
}

// font styles mixin
@mixin font-poppins($size: false, $colour: false, $weight: false, $lh: false) {
  font-family: "Poppins", sans-serif;
  font-stretch: normal;
  font-style: normal;
  @if $size {
    font-size: $size;
  }
  @if $colour {
    color: $colour;
  }
  @if $weight {
    font-weight: $weight;
  }
  @if $lh {
    line-height: $lh;
  }
  @if $ls {
    letter-spacing: $ls;
  }
}
