.lc-type {
  // headers
  &__header {
    &__h1,
    &__h2 {
      @include font-poppins($size: 1.125rem, $lh: 1.125rem, $ls: 0.1875rem);
      @include var(color, main-color-default);
      @include var(font-weight, main-font-light);

      @include mq("large") {
        @include font-poppins($size: 1.375rem, $lh: 1.375rem, $ls: 0.25rem);
      }

      &--light {
        @include var(color, main-color-primary);
      }

      &--bold {
        @include var(font-weight, main-font-medium);
      }
    }

    &__h3 {
      @include font-poppins($size: 1.125rem, $lh: 1.125rem, $ls: 0.1875rem);
      @include var(color, main-color-default);
      @include var(font-weight, main-font-light);

      &--light {
        @include var(color, main-color-primary);
      }
    }
  }

  // sub headers
  &__subheader {
    &__h1 {
      @include font-poppins($size: 1rem, $lh: 1.625rem, $ls: 0.1875rem);
      @include var(color, main-color-default);
      @include var(font-weight, main-font-light);

      @include mq("large") {
        @include font-poppins($size: 1.375rem, $lh: 2.75rem, $ls: 0.25rem);
      }

      &--light {
        @include var(color, main-color-primary);
      }

      &--bold {
        @include var(font-weight, main-font-medium);
      }
    }

    &__h2 {
      @include font-poppins($size: 0.875rem, $lh: 0.875rem, $ls: 0.125rem);
      @include var(color, main-color-default);
      @include var(font-weight, main-font-light);

      @include mq("large") {
        @include font-poppins($size: 1rem, $lh: 1rem, $ls: 0.125rem);
      }

      &--light {
        @include var(color, main-color-primary);
      }

      &--bold {
        @include var(font-weight, main-font-medium);
      }
    }

    &__h3 {
      @include font-poppins($size: 0.875rem, $lh: 0.875rem, $ls: 0.125rem);
      @include var(color, main-color-default);
      @include var(font-weight, main-font-light);

      @include mq("large") {
        @include font-poppins($size: 1rem, $lh: 1rem, $ls: 0.125rem);
      }

      @include mq("xlarge") {
        @include font-poppins($size: 1.125rem, $lh: 1.125rem, $ls: 0.125rem);
      }

      &--light {
        @include var(color, main-color-primary);
      }

      &--bold {
        @include var(font-weight, main-font-medium);
      }
    }

    &__h4 {
      @include font-poppins($size: 1.125rem, $lh: 2.375rem, $ls: 0.1875rem);
      @include var(color, main-color-default);
      @include var(font-weight, main-font-light);

      @include mq("large") {
        @include font-poppins($size: 1.125rem, $lh: 2.375rem, $ls: 0.25rem);
      }

      &--light {
        @include var(color, main-color-primary);
      }

      &--bold {
        @include font-poppins($size: 1.125rem, $lh: 1.75rem, $ls: 0.1875rem);
        @include var(font-weight, main-font-medium);
      }
    }

    &__h5 {
      @include font-poppins($size: 0.875rem, $lh: 2.125rem, $ls: 0.1875rem);
      @include var(color, main-color-default);
      @include var(font-weight, main-font-light);

      @include mq("large") {
        @include font-poppins($size: 0.875rem, $lh: 1.875rem, $ls: 0.0625rem);
      }

      &--light {
        @include var(color, main-color-primary);
      }

      &--bold {
        @include var(font-weight, main-font-medium);
      }
    }

    &__h6 {
      @include font-poppins($size: 0.75rem, $lh: 1.875rem, $ls: 0.0625rem);
      @include var(color, main-color-default);
      @include var(font-weight, main-font-light);

      &--light {
        @include var(color, main-color-primary);
      }

      &--bold {
        @include var(font-weight, main-font-medium);
      }
    }

    &__h7 {
      @include font-poppins($size: 1rem, $lh: 1.625rem, $ls: 0.1875rem);
      @include var(color, main-color-default);
      @include var(font-weight, main-font-light);

      &--light {
        @include var(color, main-color-primary);
      }

      &--bold {
        @include var(font-weight, main-font-medium);
      }
    }
  }

  // body
  &__body {
    &__b1,
    &__b1 p {
      @include font-poppins($size: 0.875rem, $lh: 1.5rem, $ls: 0.125rem);
      @include var(color, main-color-default);
      @include var(font-weight, main-font-light);
      margin: 8px 0;

      @include mq("large") {
        @include font-poppins($size: 1rem, $lh: 1.625rem, $ls: 0.125rem);
      }

      &--light {
        @include var(color, main-color-primary);
      }

      &--bold {
        @include var(font-weight, main-font-medium);
      }
    }

    &__b2,
    &__b2 p {
      @include font-poppins($size: 0.875rem, $lh: 1.5rem, $ls: 0.125rem);
      @include var(color, main-color-default);
      @include var(font-weight, main-font-light);
      margin: 8px 0;

      @include mq("large") {
        @include font-poppins($size: 1rem, $lh: 1.625rem, $ls: 0.125rem);
      }

      &--light {
        @include var(color, main-color-primary);
      }

      &--bold {
        @include var(font-weight, main-font-medium);
      }
    }

    &__b3,
    &__b4,
    &__b5,
    &__b3 p,
    &__b4 p,
    &__b5 p {
      @include font-poppins($size: 0.875rem, $lh: 1.5rem, $ls: 0.125rem);
      @include var(color, main-color-default);
      @include var(font-weight, main-font-light);
      margin: 8px 0;

      &--light {
        @include var(color, main-color-primary);
      }

      &--bold {
        @include var(font-weight, main-font-medium);
      }
    }
  }

  // lint family
  &__lint {
    &__fam1,
    &__fam2,
    &__fam3,
    &__fam4 {
      @include font-poppins($size: 1rem, $lh: 1.625rem, $ls: 0.0625rem);
      @include var(color, main-color-default);
      @include var(font-weight, main-font-light);

      &--light {
        @include var(color, main-color-primary);
      }

      &--bold {
        @include var(font-weight, main-font-medium);
      }
    }
  }

  // meta
  &__meta {
    &__s1 {
      @include font-poppins($size: 0.75rem, $lh: 0.75rem, $ls: 0.0625rem);
      @include var(color, main-color-default);

      &--light {
        @include var(color, main-color-primary);
      }

      &--bold {
        @include var(font-weight, main-font-medium);
      }
    }

    &__s3 {
      @include font-poppins($size: 0.75rem, $lh: 1.5rem, $ls: 0.0625rem);
      @include var(color, main-color-default);
      @include var(font-weight, main-font-light);

      &--light {
        @include var(color, main-color-primary);
      }

      &--bold {
        @include var(font-weight, main-font-medium);
      }
    }

    &__s4 {
      @include font-poppins($size: 0.75rem, $lh: 1.75rem, $ls: 0.0625rem);
      @include var(color, main-color-default);
      @include var(font-weight, main-font-light);

      @include mq("large") {
        @include font-poppins($size: 0.875rem, $lh: 1.75rem, $ls: 0.0625rem);
      }

      &--light {
        @include var(color, main-color-primary);
      }

      &--bold {
        @include var(font-weight, main-font-medium);
      }
    }
  }

  // form
  &__form {
    &__f1 {
      @include font-poppins($size: 0.875rem, $lh: 2.125rem, $ls: 0.125rem);
      @include var(color, main-color-default);
      @include var(font-weight, main-font-light);

      @include mq("large") {
        @include font-poppins($size: 1rem, $lh: 2.25rem, $ls: 0.125rem);
      }

      &--light {
        @include var(color, main-color-primary);
      }

      &--bold {
        @include var(font-weight, main-font-medium);
      }
    }

    &__f2,
    &__f3 {
      @include font-poppins($size: 0.75rem, $lh: 1.375rem, $ls: 0.0625rem);
      @include var(color, main-color-default);
      @include var(font-weight, main-font-light);

      &--light {
        @include var(color, main-color-primary);
      }

      &--bold {
        @include var(font-weight, main-font-medium);
      }
    }

    &__f4 {
      @include font-poppins($size: 0.75rem, $lh: 0.75rem, $ls: 0.125rem);
      @include var(color, main-color-default);
      @include var(font-weight, main-font-light);

      &--light {
        @include var(color, main-color-primary);
      }

      &--bold {
        @include var(font-weight, main-font-medium);
      }
    }
  }
}
