.lc {
  &-loading {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--main-bg-color);
    z-index: 99999;
    padding: 30px;
    visibility: visible;
    opacity: 1;
    transition: 0.5s ease;

    img {
      position: absolute;
      transform: rotate(-90deg) translateX(-50%);
      transform-origin: left top;
      min-width: 100vh;
      top: 50%;
      left: 0;
      padding: 30px;
    }

    &--hidden {
      opacity: 0;
      visibility: hidden;
    }
  }

  &-wrapper {
    width: 100%;
    height: 100vh;
    padding: 45px 10px 10px;
  }

  &-header {
    position: absolute;
    top: 0;
    left: 0;
    padding: 0px 30px;
    z-index: 999;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 45px;

    &__logo {
      position: relative;
      width: 88px;
      z-index: 9999;
    }

    &__button {
      cursor: pointer;
      position: relative;
      background-color: transparent;
      overflow: hidden;
      opacity: 1;
      transition: all 0.5s ease;
      border: none;
      margin: 0;
      display: inline-block;
      padding: 0;
      outline: 0;
      z-index: 9999;

      img {
        position: relative;
        display: block;
        margin-left: auto;
      }

      &--active {
        transform: rotate(135deg);
        transform-origin: center;
      }
    }

    &__overlay {
      position: absolute;
      top: -100vh;
      right: 0;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100vh;
      background-color: var(--main-bg-color);
      opacity: 0.9;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: top 0.5s ease;

      &--active {
        top: 0;
      }

      &__text {
        font-size: 1.5rem;
        text-align: center;
        letter-spacing: 2px;
        line-height: 2.125rem;
        text-transform: uppercase;

        span {
          font-weight: var(--main-font-medium);
        }
      }
    }
  }

  &-slider {
    &.slick-slider,
    .slick-list {
      height: 100%;
      display: flex;
      flex-direction: column;
    }

    &__img {
      width: 100vh;
      margin: auto;
    }
  }

  @media screen and (min-width: 769px) {
    &-header {
      &__overlay {
        &__text {
          font-size: 2.25rem;
          line-height: 2.875rem;
        }
      }
    }
  }

  @media screen and (min-width: 1024px) {
    &-wrapper {
      padding: 20px;
      width: 100%;
      height: 100vh;
    }

    &-header {
      &__overlay {
        &__text {
          font-size: 4.5rem;
          line-height: 5.75rem;
        }
      }
    }

    &-slider {
      &.slick-slider,
      .slick-list {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
      }

      &__img {
        width: 80vh;
        margin: auto;
      }
    }
  }
}
