.lc {
  &-wrapper {
    padding: 40px;
    width: 100%;
    min-height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &-logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 540px;
    margin: 0 auto 70px;

    &__container {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 70px;
    }

    &__logo {
      max-width: 540px;
    }
  }

  &-slider {
    // display: flex;
    // flex-direction: column;
    // align-items: center;
    margin-bottom: 70px;
    &__item {
      display: flex;
    }

    &__img {
      width: 100%;
      max-width: 540px;
      margin: auto;
    }
  }

  &-text {
    text-align: center;
    font-size: 2rem;

    p:first-child {
      margin-bottom: 30px;
    }

    p:not(:first-child) {
      font-weight: var(--main-font-light);
    }
  }

  @media screen and (min-width: 1024px) {
    &-wrapper {
      height: 100vh;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }

    &-logo {
      transform: rotate(-90deg) translateX(-50%);
      transform-origin: left top;
      width: 50%;
      position: absolute;
      top: 50%;
      left: 0;
      padding: 40px;
      margin-bottom: 0;
      max-width: 100vh;
    }

    &-slider {
      margin-bottom: 0;
      // flex-direction: unset;
      position: absolute !important;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 100%;
    }

    &-text {
      position: absolute;
      top: 50%;
      right: 0;
      transform: translateY(-50%);
      text-align: right;
      padding: 40px;
      font-size: 1.25rem;
    }
  }

  @media screen and (min-width: 1216px) {
    &-text {
      font-size: 1.5rem;
    }
  }

  @media screen and (min-width: 1408px) {
    &-text {
      font-size: 2.5rem;
    }
  }
}
