@import "../../Scss/Variables";
@import "../../Scss/Mixins";
@import "../../Scss/Globals";

.lc-button {
  &__default {
    @include button-reset;
    @include font-poppins($size: 0.875rem, $lh: 0.875rem, $ls: 0.125rem);
    @include var(font-weight, main-font-medium);
    display: inline-block;
    text-align: center;
    text-decoration: none;
    appearance: none;
    border-radius: 0;
    padding: calc(0.875rem - 3px) 34px calc(0.875rem - 3px) 34px;
    min-height: 2.5rem;
    border: 3px solid transparent;
    outline: 1px solid transparent;
    outline-offset: -4px;
    @include var(background-color, main-color-default);
    @include var(color, main-color-primary);
    transition: all 0.5s ease-out;
    margin-bottom: 1rem;

    &:hover,
    &:active {
      opacity: 0.7;
    }

    @include mq("xlarge") {
      @include font-poppins($size: 1rem, $lh: 1rem);
      padding: calc(0.875rem - 3px) 96px calc(0.875rem - 3px) 96px;
    }

    &:focus {
      @include var(border-color, main-color-default);
      @include var(outline-color, main-color-primary);
      opacity: 1;
    }
  }

  &__full-width {
    padding-left: 0;
    padding-right: 0;
    width: 100%;
    max-width: unset;
  }
}
