.lc-header {
  margin: $layout-01 0 $layout-01 / 2;

  &__logo {
    img {
      width: 56px;
      display: block;

      @include mq("large") {
        width: 86px;
      }
    }
  }

  &__items {
    max-height: 24px;

    &__currency,
    &__basket {
      display: block;
      text-align: right;
      position: relative;
    }

    &__currency {
      top: 1px;
    }

    &__basket {
      top: 0px;
    }
  }
}
