@import "../Scss/Variables";
@import "../Scss/Mixins";
@import "../Scss/Globals";

body .lc-header {
  padding-top: 1rem;
  padding-bottom: 0.5rem;
  position: relative;
  top: 0;
  @include var(background-color, main-color-primary);

  &--sticky {
    position: sticky;
  }

  &:after {
    content: "";
    position: absolute;
    height: 1px;
    right: 0;
    bottom: 0;
    left: 0;
    @include var(background-color, main-color-secondary);
    z-index: -9;
  }

  &__logo {
    img {
      position: relative;
      width: 56px;
      display: block;
      z-index: 999;

      @include mq("large") {
        width: 86px;
      }
    }
  }

  &__items {
    max-height: 24px;

    &__currency,
    &__basket {
      display: block;
      text-align: right;
      position: relative;
    }

    &__currency {
      top: 1px;
    }

    &__basket {
      top: 0px;
    }
  }
}
