@import "../Scss/Variables";
@import "../Scss/Mixins";
@import "../Scss/Globals";

body .lc-offer-banner {
  @include var(background-color, main-color-tertiary);
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  margin-top: -0.0625rem;

  &__headline {
    text-align: center;
    text-transform: uppercase;

    span {
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 4px 0 4px 8px;
      border-color: transparent transparent transparent #000000;
      display: inline-block;
    }
  }
}
