@import "../Scss/Variables";
@import "../Scss/Mixins";
@import "../Scss/Globals";

body .lc-footer {
  position: relative;
  margin-top: 6rem;
  box-shadow: 0 100vh 0 100vh #ffffff;

  &:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    border-top: 1px solid;
    @include var(border-color, main-color-secondary);
  }

  &__social__icon {
    width: 32px;
    height: 32px;
    display: inline-block;
    margin: 1rem 1rem 2rem 0;
  }

  &__menu {
    padding-bottom: 4rem;
  }
}
