@import "../../Scss/Variables";
@import "../../Scss/Mixins";
@import "../../Scss/Globals";

.lc-button__dropdown {
  @include button-reset;
  @include font-poppins($size: 1.125rem, $lh: 1.125rem, $ls: 0.1875rem);
  @include var(font-weight, main-font-medium);
  text-align: left;
  text-transform: uppercase;
  width: 100%;
  position: relative;
  margin: 1rem 0;
  padding: 0.5rem 0rem;

  &:after {
    @include triangle;
    content: "";
    position: absolute;
    right: 0;
    top: 50%;
    transform-origin: 50% 50%;
    transform: translateY(-50%) rotate(180deg);
    transition: transform 0.3s ease-out;
  }

  &[aria-expanded="true"] {
    &:after {
      transform: translateY(-50%) rotate(0deg);
      transition: transform 0.3s ease-in;
    }
  }

  &__reviews__stars {
    margin-left: 16px;

    &__star {
      margin: 0 1px;

      svg path {
        @include var(fill, main-color-secondary);
      }

      &--selected svg path {
        @include var(fill, main-color-default);
      }
    }
  }
}
