@charset "utf-8";

// import imb design system
// @import "../node_modules/carbon-components/scss/globals/scss/styles.scss";
@import "../node_modules/carbon-components/scss/globals/grid/grid";

// Import a Google Font
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap");

//import custom globals
@import "./components/Scss/Variables";
@import "./components/Scss/Mixins";
@import "./components/Scss/Globals";
@import "./components/Scss/Type";
// @import "./components/Scss/Buttons";

:root {
  --main-color-default: #{map-get($colors, main-color-default)};
  --main-color-primary: #{map-get($colors, main-color-primary)};
  --main-color-secondary: #{map-get($colors, main-color-secondary)};
  --main-color-tertiary: #{map-get($colors, main-color-tertiary)};
  --main-font-light: #{map-get($weights, main-font-light)};
  --main-font-medium: #{map-get($weights, main-font-medium)};
  --main-font-bold: #{map-get($weights, main-font-bold)};
}

html {
  @include var(background-color, main-color-primary);
  min-width: 320px;
}

body {
  @include font-poppins($size: 1rem, $lh: 1rem, $ls: 0.125rem);
  @include var(color, main-color-default);
  @include var(font-weight, main-font-light);
}

// reset link styles
a {
  color: inherit;
  text-decoration: inherit;
}

// default collapsed styles
.lc-collapse {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-out;
  &.show {
    max-height: 99rem;
    transition: max-height 0.5s ease-in;
  }
}

.lc-menu__overlay {
  position: relative;
  &:after {
    content: "";
    @include var(background-color, main-color-default);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0.2;
  }
}

// import component styles
@import "./components/ProductListItem/ProductListItem";
@import "./components/ProductDetails/ProductDetails";
