@charset "utf-8";

// import imb design system
// @import "../node_modules/carbon-components/scss/globals/scss/styles.scss";
@import "../node_modules/carbon-components/scss/globals/grid/grid";

// Import a Google Font
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap");

//import custom globals
@import "./components/Scss/Variables";
@import "./components/Scss/Mixins";
@import "./components/Scss/Globals";
@import "./components/Scss/Type";
// @import "./components/Scss/Buttons";

:root {
  --main-color-default: #{map-get($colors, main-color-default)};
  --main-color-primary: #{map-get($colors, main-color-primary)};
  --main-color-secondary: #{map-get($colors, main-color-secondary)};
  --main-font-light: #{map-get($weights, main-font-light)};
  --main-font-medium: #{map-get($weights, main-font-medium)};
  --main-font-bold: #{map-get($weights, main-font-bold)};
}

html {
  @include var(background-color, main-color-primary);
  min-width: 320px;
}

body {
  @include font-poppins($size: 1rem, $lh: 1rem, $ls: 0.125rem);
  @include var(color, main-color-default);
  @include var(font-weight, main-font-light);
}

// reset link styles
a {
  color: inherit;
  text-decoration: inherit;
}

// import component styles
@import "./components/Header/Header";
@import "./components/OfferBanner/OfferBanner";
@import "./components/HeroCta/HeroCta";
@import "./components/ProductType/ProductType";
@import "./components/ProductListItem/ProductListItem";
@import "./components/ProductDetails/ProductDetails";
@import "./components/ProductImages/ProductImages";
@import "./components/Footer/Footer";
