@import "../Scss/Variables";
@import "../Scss/Mixins";
@import "../Scss/Globals";

.lc-product-details {
  &__images {
    div > div {
      &:first-of-type {
        picture img {
          height: 368px;

          @include mq("medium") {
            height: 777px;
          }

          @include mq("large") {
            height: 376px;
          }
        }
      }

      picture {
        img {
          width: 100%;
          height: 176px;
          object-fit: cover;
          object-position: center;
          margin-bottom: 2rem;

          @include mq("medium") {
            height: 384px;
          }

          @include mq("large") {
            height: 376px;
          }
        }
      }
    }
  }
}
